/* Genre Selector Animation */

@keyframes formFadeIn {
  0% {
    scale: 95%;
    opacity: 0;
  }
  100% {
    scale: 100%;
    opacity: 1;
  }
}

/* Intersection Observer Animation */

.gametile {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.gametile.visible {
  opacity: 1;
  transform: scale(1);
}

@keyframes bestResultsAppear {
  0% {
    opacity:25%;
    scale:1.1
  }
  100% {
    opacity:100%;
    scale:1
  }
}

@keyframes wiggleLeft {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 100% 50%;
  }
  15%, 45% {
    transform: rotate(-1deg);
  }
  30%, 60% {
    transform: rotate(1.5deg);
  }
  75% {
    transform: rotate(-0.5deg);
  }
  90% {
    transform: rotate(0.5deg);
  }
}

@keyframes wiggleRight {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 0 50%;
  }
  15%, 45% {
    transform: rotate(1deg);
  }
  30%, 60% {
    transform: rotate(-1.5deg);
  }
  75% {
    transform: rotate(0.5deg);
  }
  90% {
    transform: rotate(-0.5deg);
  }
}

@keyframes slideInOut {
  0% {
    display: block;
    top: -100px;
    opacity: 0;
  }
  10% {
    top: 20px;
    opacity: 1;
  }
  90% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: -100px;
    opacity: 0;
    display: none;
  }
}