ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  list-style-type: none;

  article {
    display: flex;
    flex-direction: row;
    background-color: green;
  }

  div {
    display: flex;
    flex-direction: column;
  }
}
