#registreerformulier {
  border-radius: var(--border-radius-xl);
  backdrop-filter: var(--blur-amount);
  -webkit-backdrop-filter: var(--blur-amount);
  width: 40%;
  margin-left: 15%;
}

@media (max-width: 922px) {
  #registreerformulier {
    width: 60%;
    margin-left: 10%;
  }
}

@media (max-width: 616px) {
  #registreerformulier {
    width: 80%;
    margin-left: 10%;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: var(--font-family);
}

a {
  color: var(--color-text);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding: 2em 0;
}

fieldset#gegevens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  border: 0;
  width: 100%;
  padding: 0;
}

form fieldset#gegevens input {
  border-radius: var(--border-radius-md);
  padding: 1em;
  background-color: var(--color-background-transparent);
  border: var(--border-width-regular) solid var(--color-border-light);
  width: 100%;
  box-sizing: border-box;
  color: var(--color-text);
}

form fieldset#gegevens label {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 85%;
}

form fieldset#gegevens input:focus {
  outline: none;
  transition: 0.15s ease;
  border-color: var(--color-primary);
}

form fieldset#gegevens input::placeholder {
  color: var(--color-text-muted);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.toggle-password {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.toggle-password input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-password input:checked ~ .toggle-password__checkmark {
  background-color: var(--color-primary-light);
}

.toggle-password input:checked ~ .toggle-password__checkmark:after {
  opacity: 1;
}

.toggle-password:hover input ~ .toggle-password__checkmark {
  background-color: var(--color-gray-light);
}

.toggle-password:hover input:checked ~ .toggle-password__checkmark {
  background-color: var(--color-primary-light);
}

.toggle-password__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--color-gray-dark);
  transition: 0.25s ease;
  border: var(--border-width-regular) solid var(--color-primary-light);
  border-radius: 4px;
}

.toggle-password__checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--color-gray-dark);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}

.toggle-password__label {
  color: var(--color-text);
  line-height: var(--line-height-normal);
  font-size: var(--font-size-sm);
  font-family: var(--font-family);
}

form legend {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

input[type="submit"] {
  appearance: none;
  color: var(--color-text);
  background-color: var(--color-primary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  width: 100%;
  padding: 0.75em;
  border: var(--border-width-thin) solid var(--color-primary-light);
  border-radius: var(--border-radius-sm);
  transition: box-shadow 0.25s ease;
}

input[type="submit"]:hover {
  background-color: var(--color-primary-dark);
  cursor: pointer;
  box-shadow: 0em 0em 1em 0.05em #262626;
}

form a {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

form p {
  font-size: var(--font-size-md);
}

form label,
input {
  font-size: var(--font-size-md);
}

.hidden {
  display: none;
}

.errorMessage {
  display: flex;
  justify-content: center;
  padding: 1em;
  border-radius: var(--border-radius-md);
  background-color: var(--color-error-light);
  width: 100%;
  color: var(--color-error);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  box-sizing: border-box;
}

#gamescouterLogo {
  color: var(--color-text-muted);
  font-size: var(--font-size-lg);
}