.bestResults {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.bestResults article.bestResult {
  background-color: pink;
  padding: 2em;
  border-radius: 0.5em;
}

#gameList ul {
  list-style-type: none;
  padding: 0;
}

#gamelist ul img {
  border-radius: 100%;
}
