body {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

section {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 15%;
  gap: 1em;
}

h1 {
  margin: 0;
  font-size: var(--font-size-giant);
  line-height: var(--line-height-tight);
}

h2 {
  margin: 0;
}

div {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
}

#login,
#register {
  padding: 0.5em 3em;
  font-size: var(--font-size-md);
  border-radius: var(--border-radius-sm);
  text-decoration: none;
  color: var(--color-text);
}

#login {
  background-color: var(--color-primary);
  border: var(--border-width-thick) solid var(--color-primary-light);
  transition: 0.25s ease;
}

#login:hover {
  background-color: var(--color-primary-dark);
}

#register {
  border: var(--border-width-thick) solid var(--color-primary-dark);
  transition: 0.25s ease;
}

#register:hover {
  background-color: var(--color-primary);
}