<!DOCTYPE html>
<html lang="en">
  <body>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Gamescouter | Bookmarks</title>
      <link rel="icon" type="image/x-icon" href="/images/controllerfavico.png">
      <link rel="stylesheet" href="/cssfiles/main.css" />
      <link rel="stylesheet" href="/cssfiles/bookmark.css" />
      <link rel="stylesheet" href="/cssfiles/main.css" />
    </head>

    <title>Bookmarks</title>

    <h1>Bookmarks</h1>
    <div class="grid-container">
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>

    <button class="menu-button">
      Menu <span class="menu-icon">&#9776;</span>
    </button>
  </body>
</html>
