<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamescouter | Bookmarks</title>
    <link rel="icon" type="image/x-icon" href="/images/controllerfavico.png" />
    <link rel="stylesheet" href="/cssfiles/main.css" />
    <link rel="stylesheet" href="/cssfiles/bookmark.css" />
  </head>
  <body>
    <h1>Bookmarks</h1>
    <ul>
      <li>
        <article>
          <img src="test.jpg">
          <div>
          <h2>game Title</h2>
          <p>Released: 2021</p>
        </article>
      </li>
      <li>
        <article>
          <img src="test.jpg">
          <div>
          <h2>game Title</h2>
          <p>Released: 2021</p>
        </article>
      </li>
      <li>
        <article>
          <img src="test.jpg">
          <div>
          <h2>game Title</h2>
          <p>Released: 2021</p>
        </article>
      </li>
      <li>
        <article>
          <img src="test.jpg">
          <div>
          <h2>game Title</h2>
          <p>Released: 2021</p>
        </article>
      </li>
    </ul>
  </body>
</html>
