<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/cssfiles/main.css">
</head>
<body>
    <h1> Homepagina Project Tech</h1>
    <p>Games</p>
    <p>Profile</p>
    <p>Matches</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur dolores dolorum fugit aliquid perferendis eius eaque modi expedita hic est nisi itaque enim repudiandae, tenetur ad asperiores, perspiciatis ipsam veritatis autem voluptatem labore provident. Enim atque ratione itaque? Non sit dolorem dignissimos delectus perferendis enim tempora itaque est odit maiores, eveniet quidem aperiam deserunt harum nobis eaque ducimus in aliquam nam nostrum dolor voluptatum! Ab odit doloribus provident eaque nulla. Quibusdam porro facere, possimus numquam eaque asperiores fugit repudiandae, veritatis soluta earum et accusantium excepturi molestias voluptatem commodi debitis omnis minus culpa. Doloremque quasi voluptatem laboriosam neque fugit voluptatibus asperiores!</p>
    <p>einde 2/27</p>
</body>
</html>