<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GameScouter</title>
    <link rel="stylesheet" href="/cssfiles/main.css">
    <link rel="stylesheet" href="/cssfiles/splash.css">
</head>
<body>
    <section>
      <h1>Game<br />Scouter</h1>
      <h2>Don't know what game to play/buy? Try GameScouter.</h2>
      <div>
        <a id="login" href="/login">Sign in</a>
        <a id="register" href="/register">Register</a>
      </div>
    </section>
  </body>
</html>
