<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | GameScouter</title>
    <link rel="stylesheet" href="/cssfiles/main.css">
    <link rel="stylesheet" href="/cssfiles/form.css">
</head>
<body>
    <div id="registreerformulier">
      <div id="gamescouterLogo">Gamescout</div> <!-- Div element zodat het niet zichtbaar is voor screerea-->
      <form action="/login" method="POST">
        <legend>Log in op je account</legend>
        <fieldset id="gegevens">
          <label for="usernameOrEmail">Username or Email</label>
          <input type="text" id="usernameOrEmail" name="usernameOrEmail" placeholder="Username or Email" required>
          <% if (!!errorMessageUsernameOrEmail) { %>
          <p class="errorMessage"><%= errorMessageUsernameOrEmail %></p>
          <% } %>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Password" required>
          <% if (!!errorMessagePassword) { %>
          <p class="errorMessage"><%= errorMessagePassword %></p>
          <% } %>
        </fieldset>
        <input type="submit" value="Inloggen" />
        <p>Heb je nog geen account? <a href="/register">registreer hier</a></p>
      </form>
    </div>
  </body>
</html>
